body {
  margin: 0;
  font-family: "Source Sans Pro";
}

a {
  text-decoration: none;
  color: #fff3e6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a508b;
  padding: 8px 12px;
}

.navbar_logo {
  font-size: 24px;
  color: #fff3e6;
}

.navbar_logo i {
  color: #c1a1d3;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: #c1a1d3;
  border-radius: 5px;
}

.navbar_links {
  list-style: none;
  color: #fff3e6;
  display: flex;
  padding-left: 0;
}

.navbar_links li {
  padding: 8px 12px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_links {
    justify-content: center;
    width: 100%;
  }
}
